subscription_id     = "00000000-0000-0000-0000-000000000000"
tenant_id           = "00000000-0000-0000-0000-000000000000"
org                 = "jgfs"
workload            = "tfdemo"
scope               = "core"
env                 = "np"
region_code         = "frc"
location            = "francecentral"
instance            = "01"
owner               = "platform"
costcenter          = "it"
data_classification = "internal"
admin_public_ip     = "x.x.x.x/32"